.target
.classpath
.project
.settings

taken-android/target
taken-android/.classpath
taken-android/.project
taken-android/.settings
taken-android/libs/
taken-android/.externalToolBuilders/
taken-android/gen/

taken-core/target
taken-core/.classpath
taken-core/.project
taken-core/.settings

taken-desktop/target
taken-desktop/.classpath
taken-desktop/.project
taken-desktop/.settings

